<main class="home-container">
  <section class="home-main"></section>
  <section class="home-side">
    <section class="home-side-container">
      <section class="home-side-top"></section>
      <section class="home-side-bottom">
        <h1> <%= link_to "Job Hunter", companies_path %></h1>
      </section>
    </section>
  </section>
</main>
