<main class="home-container">
  <section class="home-main"></section>
  <section class="home-side">
    <section class="home-side-container">
      <section class="home-side-top"></section>
      <section class="home-side-bottom">
        <h1 class="home-side-bottom-h1"> <%= link_to "Job Hunter", companies_path %></h1>
      </section>
    </section>
  </section>
</main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="application.js"></script>
