<!-- <head>
  <title>Job Tracker</title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css">
</head> -->
<main class="main-container">
  <section class="main-left"></section>
  <section class="main-side">
    <section class="main-side-container">
      <section class="main-side-top"></section>
      <section class="main-side-bottom">
        <% render partial: "nav" %>
        <ul>
          <% @companies.each do |company| %>
          <li class=company_<%= company.id %>>
            <%= link_to company.name, company_path(company) %>:
            <%= link_to "Edit", edit_company_path(company) %>
            <%= link_to "Delete", company_path(company), method: "delete" %>
          </li>
          <% end %>
        </ul>
      </section>
    </section>
  </section>
</main>
