<main class="main-container">
  <section class="main-left"></section>
  <section class="main-side">
    <section class="main-side-container">
      <section class="main-side-top"></section>
      <section class="main-side-bottom">
        <h2>Create a new company here!</h2>

        <%= render partial: "form" %>
      </section>
    </section>
  </section>
</main>
